{% extends "base.html" %}

{% block content %}
<div class="landing-page">
    {# Hero Section #}
    {% include 'components/hero.html' %}
    
    {# Features Section #}
    {% if features and features|length > 0 %}
        {% include 'components/features.html' %}
    {% endif %}
    
    {# Testimonials Section #}
    {% if testimonials and testimonials|length > 0 %}
        {% include 'components/testimonials.html' %}
    {% endif %}
    
    {# CTA Section #}
    {% include 'components/cta.html' %}
    
    {# Footer #}
    {% include 'components/footer.html' %}
</div>
{% endblock %}
